<h2> <%= (post.id) ? "Edit " + post.escape("title") : "New Post" %>!</h2>

<form>
  <label for="post_title">Title</label>
    <input id="post_title" type="text" name="post[title]" value="<%= post.escape("title") %>"></input>
  <br><label for="post_body">Body</label>
  <textarea id="post_body" name="post[body]"><%= post.escape("body") %></textarea>

  <br><input type="submit"></input>
</form>
